<html>
<a href="http://localhost:8080/fruit">fruits</a>
<a href="http://localhost:8080/meat">meats</a>
<ul>
    <!-- YOUR CODE HERE:
         The data value passed to the template should be a slice.
         Loop over each element in the slice, and include them in
         the output, enclosed in <li></li> tags. -->
    {{range .}}
    <li>{{.}}</li>
    {{end}}
</ul>
</html>
